[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/H8rsbeware/fw-nvim.lua.git
[submodule "repos/rofl-projector"]
	path = repos/rofl-projector
	url = https://github.com/H8rsbeware/rofl-projector.git
[submodule "repos/rofl-todo"]
	path = repos/rofl-todo
	url = https://github.com/H8rsbeware/rofl-todo.git
